---
import '../fonts.css'
import Layout from '../layouts/Layout.astro'
import GamesSection from 'src/sections/GamesSection.astro'
import TeamSection from 'src/sections/TeamSection.astro'
---

<Layout title="The Pandogs Games">
  <main class="flex flex-col gap-28">
    <GamesSection />
    <TeamSection />
  </main>
</Layout>
