---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LanguagePicker from '../components/LanguagePicker.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Layout title="ThePandogsGames">
	<main>
		<h1>Welcome to <span class="text-gradient">ThePandogsGames</span></h1>
		<LanguagePicker />
	</main>
</Layout>

