---
import { Image } from 'astro:assets'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import LanguagePicker from '@components/LanguagePicker.astro'
import InstagramIcon from '@icons/instagram.astro'
import XIcon from '@icons/x.astro'
import LinkedinIcon from '@icons/linkedin.astro'
import LanguageIcon from '@icons/language.astro'
import OpenMenuIcon from '@icons/openMenu.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Props {
  logo: Image
}

const { logo } = Astro.props
---

<nav
  class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
  aria-label="Global"
>
  <div class="relative flex lg:flex-1">
    <button class="flex items-center -m-1.5 px-1.5">
      <span class="sr-only">ThePandogsGames</span>
      <Image src={logo} alt="Logo ThePandogsGames" class="w-16" />
    </button>
  </div>
  <div class="flex lg:hidden">
    <button
      x-on:click="isOpenMobileMenu = true"
      type="button"
      class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white"
    >
      <span class="sr-only">{t('openMenu')}</span>
      <OpenMenuIcon ariaLabel={t('openMenu')} />
    </button>
  </div>
  <ul class="hidden lg:flex lg:gap-x-12 uppercase">
    <li>
      <a
        href="#games"
        class="text-sm font-semibold leading-6 text-white hover:text-gray-400"
      >
        {t('games')}
      </a>
    </li>
    <li>
      <a
        href="#whoAreWe"
        class="text-sm font-semibold leading-6 text-white hover:text-gray-400"
      >
        {t('whoAreWe')}
      </a>
    </li>
  </ul>
  <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <div class="relative" x-data="{isOpenChangeLanguage: false}">
      <button
        type="button"
        x-on:click="isOpenChangeLanguage = !isOpenChangeLanguage"
        class="flex items-center gap-x-1 text-sm hover:opacity-75 font-semibold leading-6 text-gray-900"
        aria-expanded="false"
      >
        <LanguageIcon classList="w-6" ariaLabel={t('changeLanguage')} />
      </button>
      <div
        x-show="isOpenChangeLanguage"
        class="absolute top-full z-10 w-48 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
      >
        <div class="pl-6">
          <LanguagePicker />
        </div>
      </div>
    </div>
    <div class="w-0.5 h-6 bg-white mx-5"></div>
    <div class="flex space-x-6 text-white">
      <a
        class="hover:opacity-75"
        href="https://twitter.com/ThePandogsGames"
        target="_blank"
        rel="noreferrer"
      >
        <span class="sr-only">Twitter</span>
        <XIcon />
      </a>
      <a
        class="hover:opacity-75"
        href="https://www.instagram.com/thepandogsgames/"
        target="_blank"
        rel="noreferrer"
      >
        <span class="sr-only">Instagram</span>
        <InstagramIcon />
      </a>
      <a
        class="hover:opacity-75"
        href="https://www.linkedin.com/company/the-pandogs-games/"
        target="_blank"
        rel="noreferrer"
      >
        <span class="sr-only">Linkedin</span>
        <LinkedinIcon />
      </a>
    </div>
  </div>
</nav>
