---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import changeLanguageIcon from '@assets/icons/language_icon.svg';
import LanguagePicker from '@components/LanguagePicker.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
	logo: Image;
}

const { logo } = Astro.props;

---

<nav
class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
aria-label="Global"
>
<div class="relative flex lg:flex-1">
  <button x-on:click="isOpenLeftMenu = !isOpenLeftMenu" class="flex items-center -m-1.5 px-1.5">
    <span class="sr-only">ThePandogsGames</span>
    <Image src={logo} alt="Logo ThePandogsGames" class="w-16" />
    <svg class="h-5 w-5 flex-none" x-bind:class="isOpenLeftMenu ? 'fill-black' : 'fill-white' "> viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
    </svg>
  </button>
</div>
<div class="flex lg:hidden">
  <button x-on:click="isOpenMobileMenu = true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
    <span class="sr-only">{t("openMenu")}</span>
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>
</div>
<div class="hidden lg:flex lg:gap-x-12 uppercase" x-show="!isOpenLeftMenu">
  <a href="#" class="text-sm font-semibold leading-6 text-white hover:text-gray-400">{t("games")}</a>
  <a href="#" class="text-sm font-semibold leading-6 text-white hover:text-gray-400">{t("whoAreWe")}</a>
</div>
<div class="hidden lg:flex lg:flex-1 lg:justify-end">
<div class="relative" x-data="{isOpenChangeLanguage: false}" x-show="!isOpenLeftMenu">
    <button type="button" x-on:click="isOpenChangeLanguage = !isOpenChangeLanguage" class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900" aria-expanded="false">
      <Image src={changeLanguageIcon} alt={t("changeLanguage")} class="w-6" />
    </button>
    <div x-show="isOpenChangeLanguage" class="absolute top-full z-10 w-48 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
      <div class="pl-6">
        <LanguagePicker />
    </div>
  </div>
</nav>