---
import { Image } from 'astro:assets'
import thePandogsGamesLogo from '@assets/logos/thepandogsgames-logo.svg'
import InstagramIcon from '@icons/instagram.astro'
import XIcon from '@icons/x.astro'
import LinkedinIcon from '@icons/linkedin.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<footer class="bg-black text-white">
  <div class="max-w-screen-xl px-4 pt-6 pb-10 mx-auto sm:px-6 lg:px-8">
    <div class="flex justify-center md:justify-end">
      <div class="flex space-x-6 text-white mr-5 mb-5">
        <a
          class="hover:opacity-75"
          href="https://twitter.com/ThePandogsGames"
          target="_blank"
          rel="noreferrer"
        >
          <span class="sr-only">Twitter</span>
          <XIcon />
        </a>
        <a
          class="hover:opacity-75"
          href="https://www.instagram.com/thepandogsgames/"
          target="_blank"
          rel="noreferrer"
        >
          <span class="sr-only">Instagram</span>
          <InstagramIcon />
        </a>
        <a
          class="hover:opacity-75"
          href="https://www.linkedin.com/company/the-pandogs-games/"
          target="_blank"
          rel="noreferrer"
        >
          <span class="sr-only">Linkedin</span>
          <LinkedinIcon />
        </a>
      </div>
    </div>
    <hr />
    <div class="flex flex-col lg:flex-row items-center justify-around">
      <div class="flex items-center">
        <Image
          src={thePandogsGamesLogo}
          alt="Logo The Pandogs Games"
          class="w-40"
        />
        <p class="max-w-xs mt-4 text-sm text-gray-200">
          {t('footer.description')}
        </p>
      </div>
      <nav
        class="flex gap-4 mt-4 text-base uppercase text-gray-100 mb-5 md:mb-0"
      >
        <a class="hover:opacity-75" href="#games">{t('ourGames')}</a>
        <a class="hover:opacity-75" href="#whoAreWe">{t('whoAreWe')}</a>
      </nav>
    </div>
  </div>
  <a
    class="text-[10px] flex justify-end mr-3 hover:font-bold"
    href="https://github.com/seralot"
    target="_blank"
    rel="noreferrer"
  >
    {t('footer.createdBy')} Seralot
  </a>
</footer>
