@font-face {
    font-family: "RussoOne";
    src: url('./assets/fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "FiraSans";
    src: url('./assets/fonts/FiraSans-Regular.ttf') format('truetype');
}

.russo-font {
    font-family: "RussoOne";
    font-display: swap;
    letter-spacing: 0.1em;
}

* {
    font-family: "FiraSans";
    font-display: swap;
}

img.no-drag {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
  }