---
import '../fonts.css'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import thePandogsGamesLogo from '@assets/logos/thepandogsgames-logo.svg'

const lang = getLangFromUrl(Astro.url)
const trans = useTranslations(lang)
interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={trans('head.description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://thepandogsgames.com/" />
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content="summary" /></head
  >
  <meta name="twitter:creator" content="@ThePandogsGames" />
  <meta name="twitter:title" content="The Pandogs Games" />
  <meta name="twitter:description" content={trans('head.description')} />
  <meta content="summary_large_image" name="twitter:card" />
  <meta name="twitter:image" content={thePandogsGamesLogo.src} />

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
